span {
  background: linear-gradient(to left, red 50%, blue 50%);
  background-size: 200%;
  background-position: right bottom;
}

span:hover {
  transition: background-position 0.7s ease;
  background-position:left bottom;
}